@media screen and (max-width:700px) {
    body {
    grid-template-areas: "head head head head head head"
        "side side side side side side"
        "main main main main main main"
        "foot foot foot foot foot foot";
    grid-template-rows: 10% 15% 70% 5%;
}

    aside {
        grid-template-areas: "main";
        grid-template-rows: 1fr;
    }

    #details {
        display: none;
    }


}