@media screen and (max-width:700px) {
    body {
    grid-template-areas: "head head head head head head"
        "side side side side side side"
        "main main main main main main"
        "foot foot foot foot foot foot";
    grid-template-rows: 10% 15% 70% 5%;
}

header {
    grid-template-areas: 'nav';
    grid-template-columns: 1fr;
}

#page-title {
    display: none;
}
#weather-section  {
        grid-template-areas: "wmain";
        grid-template-rows: 1fr;
    }

#details {
        display: none;
    }
#article-sidebar {
    grid-template-areas: "actions actions";
    grid-template-rows: 1fr;
}

#nav-div{
    justify-content: center;
}


}