html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
}

header {
    grid-area: head;
    background-color: aquamarine;
}

main {
    grid-area: main;
    background-color: bisque;
}

aside {
    grid-area: side;
    background-color: darkseagreen;
}

footer {
    grid-area: foot;
    background-color: brown;
}