@import url('../css/small-screen.css');
@import url('../css/medium-screen.css');
@import url('../css/large-screen.css');
@import url('../css/news.css');

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0;
}

header {
    grid-area: head;
    background-color: #364259;
    display: grid;
    align-items: center;
    color:white;
    padding: 10px;
}

main {
    grid-area: main;
    background-color: #353345;
    overflow: scroll;
    padding: 5px;
    color: white;
}

#weather-section {
    grid-area: side;
    display: grid;
    color: #0b0a4d;
}

footer {
    grid-area: foot;
    background-color: #49465a;
}

.story-img{
    max-width: 300px;
}

#page-title{
    grid-area: title;
    margin: 0 10px;
}

#nav-div{
    grid-area: nav;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    
    align-items: center;
}

#weather-main {
    display:grid;
    grid-template-areas: "icon temp";
    grid-area: wmain;
    align-items: center;
    justify-content:space-evenly;
}

#icon {
    grid-area: icon;
}

#temp {
    grid-area: temp;
}

#details {
    text-align:center;
}

nav > a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}


.headline {
    padding: 15px;
}

.headline:hover {
    opacity: .5;
    transition-duration: .1s;
}

.headline-heading{
    margin-left: 15px;
}